@import "~react-toastify/dist/ReactToastify.min.css";

.Toastify__toast {
  min-height: unset;
  font-size: var(--jp-ui-font-size1);
  font-family: var(--jp-ui-font-family);
  color: var(--jp-ui-font-color1);
  border-width: var(--jp-border-width);
  border-radius: var(--jp-border-radius);
  border-color: var(--jp-border-color1);
  background: var(--jp-layout-color1);
  box-shadow: var(--jp-elevation-z4);
  cursor: default;
}

.Toastify__close-button {
  color: transparent;
  background-size: 16px;
  height: 16px;
  width: 16px;
  background-image: var(--jp-icon-close);
  background-position: center;
  background-repeat: no-repeat;
}

.Toastify__close-button:hover {
  background-image: var(--jp-icon-close-circle);
}

.Toastify__toast--error {
  border-top: 5px solid var(--jp-error-color1);
}

.Toastify__toast--error::before {
  content: "\F06A";
  font-family: FontAwesome;
  display: inline-block;
  flex: 0 0 auto;
  padding-top: 3px;
  padding-right: 5px;
  color: var(--jp-error-color1);
}

.Toastify__toast--warning {
  border-top: 5px solid var(--jp-warn-color1);
}

.Toastify__toast--warning::before {
  content: "\F071";
  font-family: FontAwesome;
  display: inline-block;
  flex: 0 0 auto;
  padding-top: 3px;
  padding-right: 5px;
  color: var(--jp-warn-color1);
}

.Toastify__toast--info {
  border-top: 5px solid var(--jp-info-color1);
}

.Toastify__toast--info::before {
  content: "\F0F3";
  font-family: FontAwesome;
  display: inline-block;
  flex: 0 0 auto;
  padding-top: 3px;
  padding-right: 5px;
  color: var(--jp-info-color1);
}

.Toastify__toast--success {
  border-top: 5px solid var(--jp-success-color1);
}

.Toastify__toast--success::before {
  content: "\F00C";
  font-family: FontAwesome;
  display: inline-block;
  flex: 0 0 auto;
  padding-top: 3px;
  padding-right: 5px;
  color: var(--jp-success-color1);
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.Toastify__toast--default.jp-toast-inprogress {
  border-top: 5px solid var(--jp-layout-color1);
}

.Toastify__toast--default.jp-toast-inprogress::before {
  content: "\F110";
  font-family: FontAwesome;
  width: 1.28571429em;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  flex: 0 0 auto;
  padding: 2px 0px;
  margin-right: 2px;

  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

.jp-toast-buttonBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 0 auto;
}

.jp-toast-spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.jp-toast-button {
  border: solid var(--jp-border-width) var(--jp-border-color2);
  font-size: var(--jp-ui-font-size0);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 3px;
  color: var(--jp-ui-font-color1);
  background-color: var(--jp-layout-color2);
}

.jp-toast-button:hover {
  background-color: var(--jp-layout-color3);
}
