@import "~react-toastify/dist/ReactToastify.min.css";

.Toastify__toast {
  min-height: unset;
  font-size: var(--jp-ui-font-size1);
  font-family: var(--jp-ui-font-family);
  color: var(--jp-ui-font-color1);
  border-width: var(--jp-border-width);
  border-radius: var(--jp-border-radius);
  border-color: var(--jp-border-color1);
  background: var(--jp-layout-color1);
  box-shadow: var(--jp-elevation-z4);
  cursor: default;
}

.Toastify__toast-body > svg.svg-inline--fa {
  margin-top: 0.2em;
}

.Toastify__toast--error {
  border-top: 5px solid var(--jp-error-color1);
}

.Toastify__toast--warning {
  border-top: 5px solid var(--jp-warn-color1);
}

.Toastify__toast--info {
  border-top: 5px solid var(--jp-info-color1);
}

.Toastify__toast--success {
  border-top: 5px solid var(--jp-success-color1);
}

.Toastify__toast--default.jp-toast-in-progress {
  border-top: 5px solid var(--jp-layout-color1);
}

.jp-toast-buttonBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 0 auto;
}

.jp-toast-spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

.jp-toast-button {
  border: solid var(--jp-border-width) var(--jp-border-color2);
  font-size: var(--jp-ui-font-size0);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 0px;
  margin-left: 3px;
  color: var(--jp-ui-font-color1);
  background-color: var(--jp-layout-color2);
}

.jp-toast-button:hover {
  background-color: var(--jp-layout-color3);
}
