name: CI

on:
  push:
    branches: "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64"
      - name: Install dependencies
        run: python -m pip install --pre jupyterlab
      - name: Build the extension
        run: |
          jlpm install
          cd packages/jupyterlab_toastify
          jlpm run eslint:check
          jlpm run build
          cd ..
          jupyter labextension link jupyterlab_toastify test-jlab-toastify
  
          jupyter labextension list 2>&1 | grep -ie "test-jlab-toastify.*OK"
          python -m jupyterlab.browser_check
